body{
    /* background-color: #ccc; */
}
h3{
    color:#A30C10!important;

}
.color-footer{
    color: #fff!important;
}
.bg-danger{
    color:#fff!important;
}
.jumbotron{
    background-color: #fff!important;
}
